// Place all the styles related to the Athlete controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  margin-top: 4vh;
}

.athlete-content {
  text-decoration: none;
  color: gray;
}

.login-bg {
  background-image: asset-url('court.jpg');
  background-size: cover;
}
