.login-bg {
  background-image: asset-url('back1.jpg');
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}

body, html {
  overflow-x: hidden;
  overflow-y: hidden;
}

