<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SPORTSTER | Sponsorship made easy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5">
	<!-- Framework Css -->
	<link rel="stylesheet" type="text/css" href="assets/css/lib/bootstrap.min.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" type="text/css" href="assets/css/lib/owl.carousel.min.css">
	<!-- Slick Carousel -->
	<link rel="stylesheet" type="text/css" href="assets/css/lib/slick.css">
	<!-- Animation -->
	<link rel="stylesheet" type="text/css" href="assets/css/lib/animations.min.css">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700,700i,800,900" rel="stylesheet">
	<!-- Style Theme -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<!-- Responsive Theme -->
	<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
</head>
<body class="sign-up">
<div class="wrapper">
	<!--===================== Header ========================-->
	<header>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-3 col-lg-3 col-md-12">
					<a href="index.html">
						<p>&nbsp;</p>
						<img src="assets/img/logo.png" class="logo" alt="images">
						<p>&nbsp;</p>
					</a>
				</div>
			</div>
		</div>
	</header>
	<!--===================== End of Header ========================-->
	<div class="container animatedParent">
		<div class="row">
			<div class="col-xl-12 animated growIn">
				<!--===================== Custom Form ========================-->
				<form class="custom-form">
					<h4>Sign Up</h4>
					<div class="form-group">
						<label for="exampleInputEmail3">Full Name</label>
						<input type="text" class="form-control" id="exampleInputEmail3">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Email Address</label>
						<input type="email" class="form-control" id="exampleInputEmail1">
					</div>
					<div class="form-group last">
						<label for="exampleInputEmail2">Password</label>
						<input type="password" class="form-control" id="exampleInputEmail2">
					</div>
					<div class="form-group last">
						<label for="exampleInputEmail4">Confirm Password</label>
						<input type="password" class="form-control" id="exampleInputEmail4">
					</div>
					<div class="text-center">
						<button type="submit" class="see-brd-btn">Sign Up</button>
					</div>
					<span>Have account? <a href="login.html">Login</a></span>
				</form>
				<!--===================== End of Custom Form ========================-->
			</div>
		</div>
	</div>
	<!--===================== Footer ========================-->
	<footer>
		<div class="container">
			<div class="row footer-menu-wrap">
				<div class="col-xl-4 col-lg-4 col-md-6 col-12">
					<div class="logo">
						<a href="/"><img src="assets/img/footer-logo.png" alt="images"></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-12">
					<div class="inside-column">
						<h4 class="title">About Sportster</h4>
						<ul class="list-unstyled">
							<li><a href="/">Home</a></li>
							<li><a href="#">How it works</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">For Athletes</a></li>
							<li><a href="#">For Brands</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-lg-2 col-md-6 col-12">
					<div class="inside">
						<h4 class="title">Support</h4>
						<ul class="list-unstyled">
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-6 col-12">
					<h4 class="title">Contact</h4>
					<ul class="list-unstyled">
						<li><a href="#">info@sportster.me</a></li>
						<li>+55 11 1234 - 5678</li>
					</ul>
				</div>
			</div>
		</div>
		<!--===================== Copyright ========================-->
		<div class="copyright">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-6 col-6">
						<p><img class="svg social-link" src="assets/img/copyright.svg" alt="images">2019 All Rights Reserved</p>
					</div>
				</div>
			</div>
		</div>
		<!--===================== End of Copyright ========================-->
	</footer>
	<!--===================== End of Footer ========================-->
</div><!--wrapper-->
<script src="assets/js/lib/jquery-3.2.1.js"></script>
<script src="assets/js/lib/popper.min.js"></script>
<script src="assets/js/lib/bootstrap.min.js"></script>
<script src="assets/js/lib/owl.carousel.min.js"></script>
<script src="assets/js/lib/masonry.pkgd.min.js"></script>
<script src="assets/js/lib/slick.min.js"></script>
<script src="assets/js/lib/css3-animate-it.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>