.my-card {
  filter: grayscale(50%);
  box-shadow: 2px 2px 4px lightgray;
  transition: 0.2s;
  border-radius: 12px;
  &:hover {
    box-shadow: 4px 4px 8px lightgray;
    filter: grayscale(0%);
    transition: 0.2s;
  }
}
