.match {
  color: #fff;
  font-size: 1.8em;
  font-weight: bold;
  background-color: #d7b603;
  padding: 2vh;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0 0 12px 12px;
  border: 1px solid lightgray;
}
