.match {
  color: #fff;
  font-size: 1.8em;
  font-weight: bold;
  background-color: #d7b502;
  padding: 2vh;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0 0 12px 12px;
  border: 1px solid lightgray;
}

.liked {
  background-color: #ed4e49 !important;
}

.to-like {
  background-color: #043a9ed6 !important;
}
